$blue: #6BB2E4;
$orange: #F16460;
$purple: #B95D9F;
$gray: #E0E0E0;

body {
  padding: 20px;
}

/* Spider chart */
#spiderchart-container {
  /*
  polygon {
    stroke-width: 10px !important;
    stroke-opacity: 50%;
    stroke-linejoin: round;
    stroke-miterlimit: 4.0;
  }
  */

  .radar-chart {
    &.area {
      fill-opacity: 0.7;
    }
    &.focus {
      &.area {
        fill-opacity: 0.3;
      }
      &.area .focused {
        fill-opacity: 0.9;
      }
    }
  }

  .area.company-values, .company-values .circle {
    fill: darken($orange, 10%);
    stroke: $orange;
  }

  .area.person-values, .person-values .circle {
    fill: darken($blue, 10%);
    stroke: $blue;
  }
}

/* Slider chart */
#sliderchart-container {
  width: 400px;

  path {
    stroke: $gray;
    stroke-width: 4px;
  }

  circle {
    stroke-width: 4px;
    opacity: 0.7;
  }

  .sliderchart-node {
    height: 80px;
    width: 400px;
  }

  table {
    border-collapse: separate;
    border-spacing: 10px;
    tr {
      white-space: nowrap;
      &.axis-label {
        color: darken($blue, 20%);
        font-weight: bold;
      }
    }
  }
}


#chart {
    left: 50%;
    margin: -150px 0 0 -400px;
    position: absolute;
    top: 50%;
    width: 300px;
    width: 800px;
    text {
      fill: darken($blue, 30%);
    }
}