/* line 5, ./src/sass/style.scss */
body {
  padding: 20px;
}

/* Spider chart */
/* line 11, ./src/sass/style.scss */
#spiderchart-container polygon {
  stroke-width: 10px !important;
  stroke-opacity: 50%;
  stroke-linejoin: round;
  stroke-miterlimit: 4.0;
}
/* line 19, ./src/sass/style.scss */
#spiderchart-container .radar-chart .area {
  fill-opacity: 0.7;
}
/* line 23, ./src/sass/style.scss */
#spiderchart-container .radar-chart .focus .area {
  fill-opacity: 0.3;
}
/* line 26, ./src/sass/style.scss */
#spiderchart-container .radar-chart .focus .area .focused {
  fill-opacity: 0.9;
}
/* line 32, ./src/sass/style.scss */
#spiderchart-container .area.company-values, #spiderchart-container .company-values .circle {
  fill: #e1302c;
  stroke: #e1642c;
}
/* line 37, ./src/sass/style.scss */
#spiderchart-container .area.person-values, #spiderchart-container .person-values .circle {
  fill: #478ad6;
  stroke: #94b9e2;
}

/* Slider chart */
/* line 45, ./src/sass/style.scss */
#sliderchart-container {
  height: 80px;
  width: 400px;
}
/* line 49, ./src/sass/style.scss */
#sliderchart-container path {
  stroke: #E0E0E0;
  stroke-width: 4px;
}
/* line 54, ./src/sass/style.scss */
#sliderchart-container circle {
  stroke-width: 4px;
  opacity: 0.7;
}
