polygon {
    stroke-width: 10px !important;
    stroke-opacity: 50%;
    /*stroke-linecap: round;*/
    stroke-linejoin: round;
    stroke-miterlimit: 4.0;
}

body {
  padding: 20px;
}
.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.germany, .germany .circle {
  fill: #e1302c;
  stroke: #e1642c;
}
.area.argentina, .argentina .circle {
  fill: #478ad6;
  stroke: #94b9e2;
}
.axis {
    color: aquamarine !important;
}
